#=== SLOWFAST TEMPLATE CFG ===
--arch=mvit_v2_b
--no-transfer_learning
#--finetune
--pretrained_state_dict=Models/mvit_SSv2/mvitv2_b_ssv2_new.pyth
--ordinal
--ordinal_strat=CORAL
--no-sparse_temporal_sampling
--results_path=Results/SUBSETmvit_scratch_CORAL_nosparse

--norm

# Hardware Parameters
--on_cluster
--strategy=deepspeed_stage_2

# Learning Rate Parameters
--lr=3e-2
--momentum=0.9
--weight_decay=0
--warmup=300

# Trainer Parameters
--workers=4
--batch_size=4
--accumulate_grad_batches=2
--max_epochs=20
--patience=10

# Dataset Parameters
--num_frames=32
--stride=2
--num_classes=5
--shuffle
--data_root=/cluster/projects/kite/Dr.JZariffa5/GRASSP_JPG_FRAMES
--num_segments=8
--frames_per_segment=4

# Subset Parameters
--start_sub=1
--end_sub=17
--only_sub=3 
--only_sub=6 
--only_sub=8 
--only_sub=13 
--only_sub=14

# Debug Parameters
# --limit_train_batches=10
# --limit_val_batches=10
# --enable_checkpointing
# --profiler_type=advanced
